*{
    margin:0;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #172031;
    background-image: linear-gradient(64deg, rgb(26, 21, 21), rgb(26, 21, 21),rgb(71, 60, 60));

}
.login{
    background-image: linear-gradient(64deg, rgb(26, 21, 21), rgb(26, 21, 21),rgb(71, 60, 60));
    border-radius: 10px;
    width: 400px;
    padding: 40px;
}
.login h1{
    margin-bottom: 30px;
    font-size: 30px;
    color: #fff;
    text-align: center;
}
.login .box-user{
    position: relative;
}
.login .box-user input{
    width: 110%;
    padding: 10px 0;
    outline: none;
    border: 0;
    background: transparent;
    border-bottom: 1px solid #fff;
    color:#fff;
    font-size: 16px;
    margin-bottom: 20px;
}
.login .box-user label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    color: #fff;
    font-size: 16px;
    pointer-events: none;
    transition: 10ms;
}
.login .box-user input:focus~label,
.login .box-user input:valid~label
{
    top:-20px;
    left: 0;
    color: rgba(255, 255, 255, 0.521);
    font-size: 12px;
}
.forget{
    font-size: 12px;
    color: #fff;
    float: right;
}
.TTJ{
    font-size: 12px;
    float: right;
    color: #fff;
}
.btn1{
    
    display:block;
    background-color:rgba(255, 255, 255, 0.863) ;
    margin-bottom: 5px;
    width: 100px;
    height: 30px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 0;
    cursor: pointer;
    transition: transform 100ms ease-in-out;
    color: black;

}
.btn1:hover {

    transition: 1s;
    color:#000000fd;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 30px;
    width: 100px;
}


