body {
    display: flex;
    background-image: linear-gradient(64deg, rgb(26, 21, 21), rgb(26, 21, 21),rgb(71, 60, 60));
}

/*testo*/
.texto {
    color: #fff;
    border: 10px;
    position: absolute;
    top: 5%;
    left: 20%;
    transform: translate(-50%, -50%);
}


/*tela_de_login*/
.tela_criar_conta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(64deg, rgb(26, 21, 21), rgb(26, 21, 21),rgb(71, 60, 60));
    width: 450px;
    height: 250px;
    padding: 7px;
    border-radius: 16px;
}

/*dados_basic*/
.dados_basic {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
}

/*dados_lb*/
.dados_b input{
    background-color: rgb(218, 218, 218);
    border: none;
    transition: all 0.3s ease-in-out;
    background: transparent;
    border-bottom: 1px solid #fff;
    font-size: 16px;
    color: #ffffff;

}
.dados_b input:hover{
    background-color: rgb(202, 202, 202);
    transition: all 0.3s ease-in-out;
    color: black;
}


/*dados_de_login*/
.dados_de_login {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
}

/*buttons*/
.btns {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.registra{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( 0%,-10%);
    padding: 10px 30px;
    border-radius: 16px;
    border: solid;
    color: rgb(150, 150, 150);
    background-color: rgb(51, 51, 51);
}

.entra_btn {
    display: inline-block;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(125%,-10%);
    color:rgb(150, 150, 150);
    border: none;
    background-color:  rgb(51, 51, 51);
    padding: 10px 30px;
    border-radius: 16px;
    text-decoration: none;
    border: solid;
}

input[type="number"]::-webkit-outer-spin-button,input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
