body{
    background-image: linear-gradient(64deg, rgb(26, 21, 21), rgb(26, 21, 21),rgb(71, 60, 60));
}

a {
    text-decoration: none;
    color: #805e2c9c;
}

#login{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.email input{
    border-radius: 15px;
}
